* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  overflow-x: hidden;
}
nav {
  width: 100%;
  height: 45px;
  background: #101010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  position: fixed;
  z-index: 5;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
	font-family: "GOTHICB";
  font-weight: bold;
}
.more-nav {
	display: none;
}
h1, h2, h3, h5, {
  font-family: "impact";
  font-weight: bold;
}
h5 {
  color: #333333;
  font-size: 12px;
  padding-bottom: 5px;
}

h1 {
  font-family: "impact";
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 4px;
}
h2 {
  font-family: "impact";
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 3%
}
h5 {
  font-family: "impact";
  font-weight: bold;
  font-size: 20px;
}
main {
  background-color: #f0f0f0;
}
.first {
  height: 21vw;
  width: 13vw;
}
/* высота первого блока */
.pict {
  position: relative;
  right: calc((100vw - var(--container-width)) / 2);
  --container-width: 122vw;
  width: 98vw;
  height: 96vw;
  top: 36px;
  margin-bottom: 20px;
}
.left-info {
  padding-top: 10px;
  padding-left: 5%;
}
.more-info {
  font-family: "impact";
  font-weight: bold;
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
p {
  color: #000;
  font-family: 'Roboto', sans-serif;
  line-height: 130%;
  font-size: 16px;
  padding-top: 17px;
  padding-bottom: 35px;
  width: 320px;
}
.green {
  background-color: #6BD62E;
  margin-top: 50px;
  padding-top: 50px;
}
.drop-bal {
  display: none;
}
.line {
  width: 42px;
}
.ink-post {
    padding-left: 23%;
    width: 84vw;
}
/* .left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} */
.right {
  padding-top: 50px;
  padding-left: 20px;
}
.right p {
    width: 280px;
}
.right-pic {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 89vw;
}
.poster {
  width: 70vw;
}
.more-post {
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pict-b {
  width: 133vw;
  margin-top: 80px;
}
.right-last {
  padding-top: 70px;
height: 730px;
padding-left: 20px;
}
/* .wall-1 img {
  width: 100vw;
} */
footer {
  background-color: #101010;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
.facebook {
  position: relative;
  top: -8px;
}
.todo {
  width: 308px;
}
.ballon {
  width: 118vw;
  margin-top: 100px;
  margin-left: -11%;
}
.v-card2 {
  position: relative;
  right: calc((21vw - var(--container-width)) / 2)
  --container-width: 28%;
  width: 119vw;
  height: 85vw;
  top: 1px;
}
.logo-it {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo-it img {
  width: 100vw;
}
.wall-1 img {
  width: 100vw;
}
.video {
  display: flex;
  justify-content: center;
}
.orange {
  position: relative;
  background-color: #FE5617;
  color: #fff;
  top: -10px;
}
.orange p {
  color: #fff;
}
.video iframe {
  width: 100vw;
  height: 55vw;
}
.video-inf {
  padding-top: 50px;
  padding-left: 5%;
  height: 280px;
}
.blank3 {
  padding-left: 5%;
  width: 90vw;
}
.large-txt {
  display: none;
}
@media screen and (min-width: 320px;) {
  .card2 {
    height: 410px;
  }
  .first {
    height: 24vw;
    width: 16vw;
  }
  .left {
    height: 664px;
  }
  .left-info {
    height: 616px;
  }
  .pict-b {
      position: relative;
      top: 21px;
      right: calc((100vw - var(--container-width)) / 2);
      --container-width: 91%;
      width: 68vw;
      height: 45vw;
      z-index: 2;
  }
  .ink-post img {
    width: 65vw;
  }
  .mid-txt {
    display: none
  }

}

@media screen and (min-width: 600px) {

  h1 {
    font-size: 32px;
  }
  h5 {
    font-size: 14px;
  }
  p {
    font-size: 18px;
    width: 358px;
  }
  .first {
    height: 14vw;
    width: 9vw;
}
  .left {
    height: 470px;
    justify-content: flex-end;
    display: flex;
    flex-direction: row-reverse;
  }
  .left-info {
    width: 100vw;
    padding-top: 100px;
  }
  .drop-bal {
    position: relative;
    top: -210px;
    right: -47%;
    width: 40vw;
    display: unset;
  }
  .card2 p {
    width: 399px;
  }
  .pict-b {
    position: relative;
    top: -91px;
    right: calc((100vw - var(--container-width)) / 2);
    --container-width: 95%;
    width: 68vw;
    height: 45vw;
    z-index: 2;
  }
  .right {
    height: 486px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 70px;
  }
  .right-pic {
    width: 30vw;
    height: 41vw;
  }
  .pict {
    position: relative;
    right: calc((79vw - var(--container-width)) / 2);
    --container-width: 70vw;
    width: 62vw;
    height: 55vw;
    top: 29px;
    z-index: 2;
  }
  .cans {
    height: 200px;
  }
  .ballon {
    position: relative;
    right: calc((100vw - var(--container-width)) / 2);
    --container-width: 104%;
    width: 55vw;
    height: 19vw;
    top: 176px;
    margin-top: 0;
  }
  .v-card2 {
    position: relative;
    right: calc((100vw - var(--container-width)) / 2);
    --container-width: 67%;
    width: 88vw;
    height: 60vw;
    top: 146px;
  }
  .card2 {
    height: 600px;
  }
  .blank3 {
    position: relative;
    right: calc((100vw - var(--container-width)) / 2);
    --container-width: 103%;
    width: 42vw;
    height: 41vw;
    top: 42px;
    padding: 0;
  }
  .right {
    padding-top: 40px;
  }
  .right p {
    width: 428px;
  }
  .right-last {
    padding-top: 20px;
    display: flex;
    height: 583px;
    padding-left: 5%;
  }
  .right-pic {
    width: 37vw;
    height: 52vw;
    }
  .right-info {
    padding-top: 26px;
    padding-left: 5%;
  }
  .ink-post {
    position: relative;
    right: calc((100vw - var(--container-width)) / 2);
    --container-width: 90%;
    width: 32vw;
    height: 45vw;
    top: 95px;
    padding: 0;
  }
  .wall-1 img{
    width: 100vw;
  }
  .logo-it img {
    width: 78vw;
  }
  .video-inf {
    padding-left: 5%;
    height: 400px;
    padding-top: 60px;
  }
  .video-inf p {
    width: 397px;
  }
  .todo {
    width: 350px;
  }
}

@media screen and (min-width: 1024px) {
  /* navigation */
  nav {
		height: 68px;
		justify-content: flex-start;
	}
  nav {
  		height: 68px;
  		justify-content: flex-start;
  	}
  .mid-txt {
    display: none
  }
  	.more-nav {
  		display: unset;
  		padding-left: 102px;
  	}
  	.more-nav a {
      display: inline-block;
      line-height: 0.2;
      text-decoration: none;
      cursor: pointer;
  }
  	.more-nav a:after {
      background-color: #6BD62E;
      display: block;
      content: "";
      width: 0%;
      height: 3px;
      margin-left: -10px;

      -webkit-transition: width .3s ease-in-out;
      -moz--transition: width .3s ease-in-out;
      transition: width .3s ease-in-out;
  }
  .more-nav a:hover:after,
  .more-nav a:focus:after {
      width: 100%;
      padding-left: 20px;
  }
  	.more-nav a {
  		padding-right: 30px;
  	}
    .more {
      cursor: pointer;
    }
  	.last {
  		display: none;
  	}
  h1 {
    font-size: 54px;
    padding-bottom: 10px;
  }
  h5 {
    font-size: 18px;
  }
  p {
    font-size: 22px;
    line-height: 130%;

  }
  .left p {
    width: 497px;
  }
  /* картинка слева */
  .left {
    display: flex;
    flex-direction: row-reverse;
    height: 650px;
    justify-content: flex-end;
  }
  .little-text {
    display: none;
  }
  .card2 {
    height: 950px;
  }
  .first {
    height: 13vw;
    width: 9vw;
  }
  .left-info {
    padding-top: 142px;
    padding-left: 5%;
  }
  .green {
    padding-top: 85px;
  }
  .right p {
    width: 560px;
  }
  .drop-bal {
    position: relative;
    top: -210px;
    right: -47%;
    width: 40vw;
    display: unset;
  }
  .pict-b {
    position: relative;
    top: 21px;
    right: calc((100vw - var(--container-width)) / 2);
    --container-width: 104%;
    width: 832px;
    height: 44vw;
    z-index: 2;
  }
  .pict {
    position: relative;
    right: calc((100vw - var(--container-width)) / 2);
    --container-width: 90%;
    width: 55vw;
    height: 48vw;
    top: 42px;
    }
    .cans {
      height: 360px;
    }
    .ballon {
      position: relative;
      right: calc((100vw - var(--container-width)) / 2);

      --container-width: 90%;
      width: 55vw;
      height: 19vw;
      top: 176px;
      margin-top: 0;
    }
    .todo {
      width: 457px;
    }
    .card2 p {
      width: 505px;
  }
    /*картинка справа  */
    .right {
      display: flex;
      flex-direction: row;
      justify-content: start;
      padding-left: 3%;
      padding-right: 10%;
      height: 660px;
  }
  .right-info {
    padding-top: 20px;
    padding-left: 8%;
    height: 500px;
  }
  .right-pic {
    bottom: -10;
    width: 30vw;
    height: 41vw;
  }
  .right-last {
    display: flex;
    padding-left: 5%;
  }
  .angel {
    padding-left: 0
  }
  .v-card2 {
    position: relative;
    right: calc((100vw - var(--container-width)) / 2);
    --container-width: 83%;
    width: 80vw;
    height: 55vw;
    top: 62px;
  }
  .card2 {
    padding-top: 30px;
    height: 840px;
  }
  .wall-1 img{
    width: 100vw;
  }
  .ink {
    height: 47vw;
    padding-top: 60px;
    width: 40vw;
  }
  .ink h2 {
    margin-top: 133px;
  }
  .ink-post {
    position: relative;
    right: calc((100vw - var(--container-width)) / 2);
    --container-width: 79%;
    width: 26vw;
    height: 36vw;
    top: 146px;
    padding: 0;
  }
  .orange {
    height: 600px;
  }
  .blank3 {
    position: relative;
    right: calc((100vw - var(--container-width)) / 2);
    --container-width: 95%;
    width: 47vw;
    height: 41vw;
    top: 42px;
  }
  .logo-it {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
  }
  .logo-it img {
    width: 56vw;
  }
  .post4 {
    margin-right: 8%
  }
  .video {
    height: 700px;
  }
  .video-inf {
    padding-top: 140px;
    height: 500px;
    padding-left: 5%;
  }
  .video-inf p {
    width: 568px;
  }
  .video iframe {
    width:860px;
    height: 515px;
  }
  .large-txt {
    display: unset;
  }
}
/* h2 {
left: 4%;
font-size: 50px;
padding-bottom: 43px;
position: relative;
display: inline-block;
z-index: 3;
padding-left: 0.02em;
margin-left: 3%;
}
h2:before {
content: '';
position: absolute;
height: 26px;
background: #FDE40E;
/* top: 50%; */

/* h2:before{
  z-index: -1;
  right: -1.1rem;
  left: 0.1rem;
  top: 34%;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  width: 100%;
  }  */











@media screen and (min-width: 1440px) {
  .left  {
    height: 800px;
  }
  .bag {
    height: 1070px;
  }
  .bag-pic {
    width: 108vw;
  }
  .right  {
    height: 645px;
  }
  .poster {
    margin-right: 4%;
  }
  .more-post {
    margin-bottom: 100px;
  }
  .space-pic {
    left: -1%;
    margin-top: 17px;
    width: 53vw;
    height: 33vw;
  }
  .pict-b {
    position: relative;
    top: -110px;
    right: calc((100vw - var(--container-width)) / 2);
    --container-width: 94%;
    width: 884px;
    height: 40vw;
    z-index: 2;
  }

}
